<div class="container">
        {% for record in object_list|slice:":1" %}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">学習情報DB</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ record.category.title }}</li>
              </ol>
        </nav>
        {% endfor %}
</div>
<!-- タイトルとナビゲーションボタン -->
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <!-- カテゴリのタイトルと概要を表示 -->
        {% for record in object_list|slice:":1" %}
        <p class="lead">{{ record.category.title }}</p>
        <p>{{ record.category.summary }}</p>
        {% endfor %}
        <!-- 関連カテゴリをすべて表示 -->
        <p class="lead">関連学習カテゴリ</p>
        <div style='clear: both;'>
        {% for record in object_list|slice:":1" %}
          {% for category in record.category.relation.all %}
          <button class="btn btn-outline-primary" onclick="location.href='/cat/{{ category.id }}'">
          {{ category.title }}
          </button>
          {% endfor %}
        {% endfor %}
        </div>
        <!-- ナビゲーションボタン -->
        {% if user.is_authenticated  %}
        <!-- ログイン中のボタン -->
          <a href="{% url 'edu:post' %}"
              class="btn btn-primary my-2">学習情報の登録</a>
          <a href="/cat_list"
                class="btn btn-secondary my-3">カテゴリ一覧</a>
        {% else %}
        <!-- ログイン状態ではないときは何も表示しない。 -->
          <a href="/"
                class="btn btn-info my-3">学習情報DB</a>
          <a href="/cat_list"
                class="btn btn-secondary my-3">カテゴリ一覧</a>
        {% endif %}
      </div>
    </div>
  </section>
